* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.current {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 30px;
}

.next {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}